[submodule "ParallelTools"]
	path = ParallelTools
	url = git@github.com:wheatman/ParallelTools.git
[submodule "abseil-cpp"]
	path = abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "parlaylib"]
	path = parlaylib
	url = https://github.com/cmuparlay/parlaylib.git
